<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Museo de los Yaquis.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>11</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
				<key>dateExpires</key>
				<string>10/01/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4CFCDD3CF922FA9118B5C098163D7A442A488772</string>
						<key>dateExpires</key>
						<string>10/01/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>58KD279MQA</string>
						<key>name</key>
						<string>Redescubramos Sonora A.C.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>58KD279MQA.com.redescubramos.museodelosyaquis</string>
				<key>com.apple.developer.team-identifier</key>
				<string>58KD279MQA</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>00a14b96-49d8-4274-b145-a95f44f84439</string>
				<key>dateExpires</key>
				<string>10/01/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.redescubramos.museodelosyaquis</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>58KD279MQA</string>
				<key>name</key>
				<string>Redescubramos Sonora A.C.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.11</string>
		</dict>
	</array>
</dict>
</plist>
